{
  "HomepageLocation": "{nextcloud_url}",
  "HomepageIsNewTabPage": false,
  "DefaultBrowserSettingEnabled": false,
  "PasswordManagerEnabled": false,
  "ExtensionInstallForcelist": [
    "fnaicdffflnofjppbagibeoednhnbjhg;https://clients2.google.com/service/update2/crx"
  ]
}
